$header-height: 34px;
$border-input-focus: #1a73e8;
$border-input-hover: #c0c0c0;
$toolbar-height:40px;
$border-color: #c0c0c0;
$formula-height: 24px;
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$db-header-height: 64px;